@model Vilicus.Web.Models.MessageViewModel

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>MessageViewModel</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.MessageTime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MessageTime)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UserDisplayName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UserDisplayName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TicketId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TicketId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Text)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Text)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
